# Ignore vendor HAL drivers and CMSIS files
software/STM32WB_BT_TAG/Drivers/* linguist-vendored
software/STM32WB_BT_TAG/Middlewares/* linguist-vendored

# Ignore generated system setup files
software/STM32WB_BT_TAG/Core/Src/system_stm32wbxx.c linguist-vendored
software/STM32WB_BT_TAG/Core/Src/sysmem.c linguist-vendored
software/STM32WB_BT_TAG/Core/Src/syscalls.c linguist-vendored

# Ignore 3D CAD step files and compiled binaries
hardware/3D/* linguist-vendored
3d_models/* linguist-vendored
enclosure/* linguist-vendored
*.step linguist-vendored
*.stp linguist-vendored
*.bin linguist-vendored
*.hex linguist-vendored